body {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  border: 0 none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  border: 0 none;
  outline-style: none;
  margin: 0;
  padding: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.box {
  display: block;
  margin: 0;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #F0F0F0;
}
body .top1 {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 100;
}
body .top1 header {
  height: 32px;
  font-size: 15px;
  background-color: rgba(213, 55, 64, 0.9);
}
body .top1 header span {
  color: #EEEEEE;
}
body .top1 header span.tel {
  margin: 8px 185px;
}
body .top1 header ul {
  margin-top: 0px;
}
body .top1 header ul li {
  float: left;
}
body .top1 header ul li a {
  line-height: 32px;
  font-size: 15px;
  color: #FFFFFF;
  padding: 9px 6px;
}
body .top1 header ul li a:hover {
  background-color: #ffffff;
  color: #000000;
}
body .top1 header ul li:last-child {
  padding-right: 168px;
}
body .top1 nav {
  height: 100px;
  background-color: #F8F8F8;
  background-color: rgba(248, 248, 248, 0.9);
  font-size: 20px;
  border-bottom: 1px solid #DFDFDF;
}
body .top1 nav img {
  padding-top: 15px;
  padding-right: 26px;
  padding-left: 185px;
  height: 60px;
  width: 320px;
  float: left;
}
body .top1 nav ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
body .top1 nav ul li {
  float: left;
}
body .top1 nav ul li a {
  line-height: 80px;
  padding: 0px 15px;
  color: #333333;
}
body .top1 nav ul li a:hover {
  color: #D53740;
}
body .top1 nav ul:last-child {
  padding-right: 205px;
}
body .login {
  height: 650px;
  width: 1040px;
  margin: 0 auto;
  background-color: #FFF;
}
body .login .login_cont .w1 {
  height: 133px;
  background-color: #F0F0F0;
}
body .login .login_cont .login_cont_l img {
  padding: 100px 25px;
}
body .login .login_cont .login_cont_r {
  padding: 50px 20px;
}
body .login .login_cont .login_cont_r .login_title p {
  font-size: 28px;
  font-weight: 800;
  color: #D53740;
  padding-top: 40px;
  padding-left: 40px;
}
body .login .login_cont .login_cont_r img {
  padding-left: 20px;
  height: 30px;
}
body .login .login_cont .login_cont_r select {
  height: 26px;
  font-size: 14px;
  width: 100px;
  margin-left: 51px;
  margin-right: 5px;
}
body .login .login_cont .login_cont_r a {
  font-size: 15px;
  color: #4E4C4C;
}
body .login .login_cont .login_cont_r label {
  line-height: 33px;
  float: left;
  padding-right: 20px;
  font-size: 12px;
}
body .login .login_cont .login_cont_r label.first {
  padding-right: 14px;
}
body .login .login_cont .login_cont_r input {
  display: block;
  height: 30px;
  width: 300px;
  border: 1px solid #C7C7C7;
  margin-left: -17px;
}
body .login .login_cont .login_cont_r input.check {
  width: 88px;
}
body .login .login_cont .login_cont_r input[type="text"] {
  padding-left: 5px;
}
body .login .login_cont .login_cont_r input[type="button"] {
  margin: 30px 5px;
  font-size: 26px;
  font-weight: 800;
  height: 45px;
  border-radius: 8px;
}
body .login .login_cont .login_cont_r input[type="button"].bt1 {
  float: left;
  width: 200px;
  background-color: #C62B39;
  color: #000;
  margin-left: 51px;
}
body .login .login_cont .login_cont_r input[type="button"].bt2 {
  width: 90px;
  background-color: #D9D9D9;
  color: #000;
}
body footer {
  margin-top: 135px;
  height: 285px;
  background-color: #434448;
}
body footer .top {
  height: 175px;
  margin: 0 auto;
  border-bottom: 1px solid #000;
}
body footer .top .le {
  width: 600px;
}
body footer .top .le p {
  font-size: 20px;
  color: #AAAAAA;
  padding-left: 87px;
  margin-bottom: -9px;
}
body footer .top .le ul li ul {
  display: flex;
}
body footer .top .le ul li ul li {
  flex: 1;
  padding-left: 10px;
  padding-top: 10px;
  float: left;
}
body footer .top .le ul li ul li img {
  height: 40px;
  width: 128px;
}
body footer .top .ri {
  margin-right: 200px;
  margin-top: 8px;
  width: 100px;
  height: 150px;
}
body footer .top .ri ul li a {
  color: #AAAAAA;
  font-size: 14px;
  line-height: 16px;
}
body footer .top .ri ul li:first-child {
  font-size: 18px;
  font-weight: 900;
  padding-bottom: 20px;
  color: #AAAAAA;
}
body footer .top .ri:last-child {
  float: right;
  margin-top: 8px;
  margin-right: 50px;
}
body footer .bot {
  height: 85px;
  font-size: 14px;
  color: #AAAAAA;
}
body footer .bot .bot1 {
  float: left;
  margin-left: 49px;
}
body footer .bot .bot1 ul li {
  padding-right: 30px;
  float: left;
}
body footer .bot .bot1 ul li a {
  color: #AAAAAA;
}
body footer .bot .bot1 p {
  margin: 0;
  padding-left: 40px;
}
body footer .bot .bot2 {
  float: right;
  height: 86px;
  width: 650px;
  margin-top: 10px;
  padding-right: 100px;
}
body footer .bot .bot2 ul li {
  padding-left: 20px;
  float: left;
}
