body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dd,
span,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  border: 0 none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  border: 0 none;
  outline-style: none;
  margin: 0;
  padding: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*mixin 混入*/
/*REM适配 主流机型*/
@media (width: 320px) {
  html {
    font-size: 12.8px;
  }
}
@media (width: 360px) {
  html {
    font-size: 14.4px;
  }
}
@media (width: 375px) {
  html {
    font-size: 15px;
  }
}
@media (width: 384px) {
  html {
    font-size: 15.36px;
  }
}
@media (width: 400px) {
  html {
    font-size: 16px;
  }
}
@media (width: 414px) {
  html {
    font-size: 16.56px;
  }
}
@media (width: 424px) {
  html {
    font-size: 16.96px;
  }
}
@media (width: 480px) {
  html {
    font-size: 19.2px;
  }
}
@media (width: 540px) {
  html {
    font-size: 21.6px;
  }
}
@media (width: 720px) {
  html {
    font-size: 28.8px;
  }
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 30rem;
  margin: 0 auto;
}
body header {
  height: 1.06666667rem;
  background-color: #D53740;
}
body nav {
  height: 4.33333333rem;
  background-color: #F8F8F8;
}
body section .scroll {
  height: 11.66666667rem;
  background-color: greenyellow;
}
body section .counted {
  height: 4rem;
  background-color: orangered;
}
body section .foren {
  margin-top: 0.66666667rem;
  height: 6.66666667rem;
  background-color: orangered;
}
body section .foren aside {
  float: left;
  display: block;
  width: 10rem;
  background-color: blueviolet;
}
body section .foren article {
  width: 13.33333333rem;
  background-color: green;
}
body section .financing {
  height: 14.66666667rem;
  margin-top: 1.16666667rem;
  color: white;
  background-color: black;
}
body section .bill {
  height: 8rem;
  margin-top: 1.16666667rem;
  background-color: orangered;
}
body footer {
  margin-top: 1.83333333rem;
  height: 9.5rem;
  background-color: #434448;
}
